<!DOCTYPE html>
<html>
  <head>
    <title>NovelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
      <% if defined?(@chapter_title) && @chapter_title.present? %>
        <%= @chapter_title %>
      <% elsif defined?(@novel_title) && @novel_title.present? %>
        <%= @novel_title %>
      <% else %>
        小説ノート
      <% end %>
      <h1>
    </header>
    <%= yield %>
  </body>
</html>
